- if notice
  %p#notice= notice
%h1 Listing events
%table
  - @events.each_with_index do |event, index|
    %tr{:class => "<haml:silent>cycle('list_line_odd', 'list_line_even') </haml:silent>"}
    %tr
      %td.list_description
        %dl
          %dt= event.title
          %dt= event.status
          %dt
            $#{event.minbits}
          - if !current_user.bits.find_by_event_id(event.id)
            %dt= button_to "Make bit #{index}", action: :make_bit, id: event.id
      %td.list_actions
        = link_to 'Show', event
        %br/
        - if can? :create, Event
          = link_to 'Edit', edit_event_path(event)
          %br/
        - if can? :destroy, Event
          = link_to 'Destroy', event,  |
            confirm: 'Are you sure?' , |
            method: :delete            |
- if can? :create, Event
  %dt= button_to 'Make_status_bits', action: :make_status_bits
  %dt= button_to 'Cancel_status_bits', action: :cancel_status_bits
  %br/
  = link_to 'New Event', new_event_path

       





