
 <% if notice %>
 <p id="notice"><%=notice %></p>
  <%end%>
<h1>Listing events</h1>

<table>

  <% @events.each do |event| %>
    <tr class="<%cycle('list_line_odd', 'list_line_even') %>">


  <tr>
    <td class="list_description">
        <dl>
            <dt><%=event.title %></dt>
            <dt><%=event.status %></dt>
            <dt>$<%=event.minbits %></dt>
            <dt><%=button_to 'Make_bit',{action: "make_bit", id: event.id} %></dt>
        </dl>    

    </td>  
    
      <td class="list_actions">
          <%= link_to 'Show', event %><br/>
          <% if can? :create, Event %>
              <%= link_to 'Edit', edit_event_path(event) %><br/>
           <%end%>
           <% if can? :destroy, Event %>
              <%= link_to 'Destroy', event,
              confirm: 'Are you sure?' ,
              method: :delete %>
           <%end%>
            </td>

        </tr>
<% end %>
</table>
 <% if can? :create, Event %>
 <dt><%=button_to 'Make_status_bits', action: :make_status_bits %></dt>
 <dt><%=button_to 'Cancel_status_bits', action: :cancel_status_bits %></dt>
<br />

<%= link_to 'New Event', new_event_path %>
<%end%>