 <% if notice %>
 <p id="notice"><%=notice %></p>
  <%end%>
<h1>Listing bits</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<ul>
<% @user.bits.each do |bit| %>
  <li><%=bit.event.title %>&times; <%=bit.sum%> 
       <%= link_to 'Edit', edit_bit_path(id: bit.id) %><br/>
       
       
       <%= link_to 'Destroy', bit,
                  confirm: 'Are you sure?' ,
                  method: :delete %>
       
   </li>
    <%end%>
    <tr class="total_line">
      <td colspan="2">Total</td>
      <td class="total_cell"><%=number_to_currency(@user.sum_pay)%></td>
    </tr>
    <td><%=button_to 'Pay bits', action: :pay_bits %></td>
</ul>
  
