<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h2>Yoir Bits</h2>
<ul>
    <% @bit.line_items.each do |item| %>
      <li><%=item.event.title %>&times; <%=item.price%> 
        </li>
    <%end%>
  </ul>
<%=button_to 'Empty bit', @bit, method: :delete,
confirm: 'are you sure?' %>
<%= link_to 'Edit', edit_bit_path(@bit) %> |
<%= link_to 'Back', bits_path %>
