!!!
%html
  %head
    %title Totalizator
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #banneer
      = image_tag("logo.png")
      = @page_title || "Panel_to_action"
      %p
        Текущее время: #{Time.now}
        - if !user_signed_in?
          %h1 Please rigister or sign in
    #colums
      #side
        %ul
          %li
          - if !user_signed_in?
            %h1
            Please rigister or sign in
          - if user_signed_in?
            %a{:href => "http://localhost:3000/"} Home
          %li
          - if user_signed_in?
            %a{:href => "http://localhost:3000/events/"} Stawki
          %li
          - if user_signed_in?  
            %a{:href => "http://localhost:3000/bits/"} YourBits
        - if can? :create, Event
          %li
            %a{:href => "http://localhost:3000/events/new"} News
          %li
            %a{:href => "http://localhost:3000/wallets/"} All Wallets
      #main
        = render "shared/links"
        = yield
