!!!
%html
  %head
    %title Totalizator
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #banneer
      = image_tag("logo.png")
      = @page_title || "Panel_to_action"
      %p
        
        - if !user_signed_in?
          %h1 Please register or sign in
     
          



    .navbar
      .navbar-inner
        %ul.nav
          - if user_signed_in?
            %a.brand{:href => "http://localhost:3000/"} Home
          %li.divider-vertical
          - if user_signed_in?
            %a.brand{:href => "http://localhost:3000/events/"} Stawki
          %li.divider-vertical
          - if user_signed_in?  
            %a.brand{:href => "http://localhost:3000/bits/"} YourBits
          %li.divider-vertical
          - if can? :create, Event
            %a.brand{:href => "http://localhost:3000/events/new"} News
          %li.divider-vertical
          - if can? :create, Event
            %a.brand{:href => "http://localhost:3000/wallets/"} All Wallets
          = render "shared/links" 
      .span10
        = yield 