<!DOCTYPE html>
<html>
<head>
  <title>Totalizator</title>
    <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id="banneer">
    <%=image_tag("logo.png")%>
     <%= @page_title || "Panel_to_action" %>
     <p>
     Текущее время: <%=Time.now%>
     </p>
    </div>
 
    <div id="colums">
        <div id="side">
            <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/events/">Stawki</a></li>
                <li><a href="http://localhost:3000/events/new">News</a></li>
                <li><a href="http://localhost:3000/bits/">YourBits</a></li>
            </ul>
        </div>
    <div id="main">
        <%= render "shared/links" %>
<%= yield %>
    </div>
    </div>
</body>
</html>

